.Ms_container {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffe7f2;
    font-family: MN;
    color: #d7679e;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.Ms_Section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
}
.Ms_header {
    font-size: 2rem;
}
.Ms_content {
    padding: 0 2rem;
    font-size: 1.3rem;
}
.Ms_listsCon {
    display: flex;
}
.Ms_listsCon > h1 {
    margin-right: 2rem;
}
.css-art2ul-ValueContainer2 {
    padding: 0 2rem !important;
}
