@font-face {
    font-family: MN;
    src: url("../font/MN_MINIMON.ttf");
}
@font-face {
    font-family: MN_Bold;
    src: url("../font/MN_MINIMON_Bold.ttf");
}
@font-face {
    font-family: MN_Light;
    src: url("../font/MN_MINIMON_Light.ttf");
}
