.public {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.public > h1 {
    font-family: MN_Bold;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
}
.public > h1::before {
    content: "";
    position: absolute;
    width: 6rem;
    height: 5px;
    background-color: var(--magenta);
    left: 0;
    bottom: 10px;
}
.public > h1::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 5px;
    background-color: var(--magenta);
    left: 0;
    bottom: 0;
}
.public > .Catalog {
    max-width: 100%;
    height: 75%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
}
.public > .Catalog > .item {
    margin: auto;
    width: 369px;
    height: 300px;
    border-radius: 16px 16px;
    /*ลบเอา*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.public > button {
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-family: MN_Light;
    padding: 8px 32px;
    cursor: pointer;
    color: var(--white);
    background: var(--persian-pink-2);
    border-radius: 20px 20px 20px 20px;
}
@media (max-width: 1356px) {
    .public > .Catalog > .item {
        width: 360px;
        min-height: 300px;
    }
    .activity > .Catalog > .item {
        width: 360px;
        min-height: 300px;
    }
    .public > .Catalog {
        grid-template-columns: 1fr 1fr;
    }
    .activity > .Catalog {
        grid-template-columns: 1fr 1fr;
    }
    .public > button {
        font-size: 30px;
    }
    .public > h1 {
        font-size: 40px;
    }
    .public > h1::before {
        height: 2px;
    }
    .public > h1::after {
        height: 2px;
    }
}
@media (max-width: 600px) {
    .activity > .Catalog {
        grid-template-columns: 1fr;
    }
    .public > .Catalog {
        grid-template-columns: 1fr;
    }
    .public > .Catalog > .item:nth-child(4),
    .public > .Catalog > .item:nth-child(5),
    .public > .Catalog > .item:nth-child(6) {
        display: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
