*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: MN;
  src: url("font/MN_MINIMON.ttf");
}
@font-face {
  font-family: MN_Bold;
  src: url("font/MN_MINIMON_Bold.ttf");
}
@font-face {
  font-family: MN_Light;
  src: url("font/MN_MINIMON_Light.ttf");
}
body{
  cursor: context-menu;
}
.main-content{
  width: 100%;
  height: 100vh;
}
.home{
  height: 100vh;
  background-image: none;
}
.public, .activity, .road ,footer{
  background-image: url("assets/background.png");
  background-size: cover;
  background-attachment: fixed;
}
.public{
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.public>h1{
  font-family: MN_Bold;
  font-size: 50px;
}
.public>.Catalog{
  width: 80%;
  height: 75%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.public>.Catalog>.item{
  border-radius: 16px 16px ;
  /*ลบเอา*/
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.public>button{
  margin-top:20px;
  border:none;
  font-size: 20px;
  font-family: MN_Light;
  padding:8px 32px;
  cursor:pointer;
  color:white;
  background:#FC8BC7;
  border-radius:20px 20px 20px 20px;
}
.activity{
  height: 70vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.activity>h1{
  font-family: MN_Bold;
  font-size: 50px;
}
.activity>button{
  margin-top:20px;
  border:none;
  font-size: 20px;
  font-family: MN_Light;
  padding:8px 32px;
  cursor:pointer;
  color:white;
  background:#FC8BC7;
  border-radius:20px 20px 20px 20px;
}
.activity>.Catalog{
  width: 80%;
  height: 60%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.activity>.Catalog>.item{
  border-radius: 16px 16px ;
  /*ลบเอา*/
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.road{
  min-height: 70vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.road>.Catalog{
  background-color: #F8FAD8;
  width: 90rem;
  height: 25rem;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.road>.Catalog>.item{
  font-family: MN_Bold;
  text-align: center;
  font-size:30px;
  color:#F577B9;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.road>.Catalog>.item:nth-child(1)::after{
  content: 'นักเรียน';
  position:absolute;
  bottom:-40px;
}
.road>.Catalog>.item:nth-child(2)::after{
  width: 200px;
  content: 'และตารางสอน';
  position:absolute;
  bottom:-40px;
}
.road>.Catalog>.item:nth-child(3)::after{
  content: 'กิจกรรม';
  position:absolute;
  bottom:-40px;
}
.road>.Catalog>.item:nth-child(6)::after{
  content: 'ปัญหา';
  position:absolute;
  bottom:-40px;
}
.road>.Catalog>.item>a>img{
  width: 150px;
  border-radius:50%;
}
footer{
  height:15vh;
}
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #facbe3;
}
::-webkit-scrollbar-thumb {
  background: #F577B9;
  border-radius: 25px;
}
