* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forget_container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Forget_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-family: MN_Light;
    overflow: hidden;
    padding: 1.5rem;
}
.forg-header {
    font-size: 3.5rem;
    text-align: center;
    color: #de789d;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.forg-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    height: 50%;
    width: 100%;
}
.forg-input > h2 {
    font-size: 5rem;
    color: #da85a7;
}
.forg-input > input {
    outline: none;
    border: none;
    width: 30rem;
    height: 3.5rem;
    padding: 16px;
    border-radius: 25px 25px;
    font-size: 2rem;
    font-family: MN;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forg-Submit {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.forg-Submit > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: var(--persian-pink);
    width: 10rem;
    height: 4rem;
    font-family: MN;
    font-size: 2rem;
    color: var(--alice-blue);
    cursor: pointer;
    border-radius: 25px 25px;
}
@media (max-width: 798px) {
    .forget_container {
        background-position: bottom;
    }
    .forget_container {
        row-gap: 30px;
        justify-content: start;
    }
    .forg-header {
        height: auto;
    }
    .forg-input {
        height: auto;
        row-gap: 50px;
        margin-bottom: 30%;
    }
    .forg-Submit {
        height: auto;
    }
    .forg-header {
        font-size: 2.2rem;
        color: #de789d;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 60px;
    }
    .forg-input > h2 {
        font-size: 3rem;
        color: #da85a7;
    }
    .forg-input > input {
        outline: none;
        border: none;
        width: 25rem;
        height: 3.5rem;
        padding: 16px;
        border-radius: 25px 25px;
        font-size: 2rem;
        font-family: MN;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
