.Reset_container {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Forget_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: MN_Light;
    overflow: hidden;
    padding: 1.5rem;
    font-family: MN;
}
.Reset_content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 4rem;
}
.Re_header > h1 {
    text-align: center;
    font-size: 5rem;
    color: #e76ca5;
}
.Re_Input {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.Re_Input > .passW > input {
    outline: none;
    border: none;
    width: 30rem;
    height: 3rem;
    padding: 16px;
    border-radius: 25px 25px;
    font-size: 1.5rem;
    font-family: MN;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.Re_Input > .passW {
    position: relative;
}
.Re_Input > .passW > .Eye {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 25%;
    right: 3%;
    cursor: pointer;
}
.Re_Submit > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: var(--persian-pink);
    width: 10rem;
    height: 4rem;
    font-family: MN;
    font-size: 2rem;
    color: var(--alice-blue);
    cursor: pointer;
    border-radius: 25px 25px;
}
@media (max-width: 798px) {
    .Re_header > h1 {
        text-align: center;
        font-size: 3rem;
        color: #e76ca5;
    }
    .Reset_container {
        justify-content: start;
    }
    .Re_Input > .passW > input {
        width: 20rem;
    }
}
