.home {
    max-height: 100vh;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.swiper-slide {
    height: 100%;
}
.home img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    object-fit: cover;
    transition: all 0.3s;
}
.mySwiper .swiper-pagination-bullet-active {
    background: var(--persian-pink);
    width: 10px;
    height: 10px;
}
@media (min-width:1300px) {
    .swiper-pagination{
        height:2rem;
        top: 0;
    }
}
@media (min-width:1445px) {
    .swiper-pagination{
        height:5rem;
        top: 0;
    }
}
@media (min-width:1561px) {
    .swiper-pagination{
        height:11rem;
        top: 0;
    }
}